.images-single img {
    width: 100%;
    padding: 3px 0;
}

.exhibition-spread-container {
    max-width: 600px;
    padding: 0;
}

.images-row {
    display: grid;
    grid-template-columns: 1.618fr 1fr;
    grid-gap: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
}



.images-row-even {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
    padding-bottom: 4px;
}

.left-image, .right-image {
    overflow: hidden;
}



.right-image img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.left-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.exhibition-header-div {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    text-align: left;
}

.exhibition-header-div, h2 {
    font-weight: normal;
    margin-bottom: 0;
    padding-bottom: 0;
    font-style: italic;
}
.prev-next-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

.work-included-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}




p.header-date {
    font-size: 0.8em;
    padding-top: 0;
    margin-top: 4px;
    font-style: normal;
}

@media screen, (max-width: 800px) {
    .exhibition-spread-container {
        maxwidth: 100%;
        margin: 4px;
    }

}

@media screen and (min-width: 801px) {
    .exhibition-spread-container {
        width: 61vw;
    }
}