.listing-container {
    display: grid;
    grid-template-columns: 0.5fr 1.61fr 2fr;
    align-items: start;
    justify-content: flex-start;
    text-align: right;
    gap: 18px; /* Adjust the gap between columns if needed */
    max-width: 450px; /* Adjust according to your design */
    margin: 0 12px; /* Center the grid container */
    padding-bottom: 12px;


}

.date-container {
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 0.7em;
    font-style: italic;
    margin-top: 2px;

}

.date-container p {
    margin: 0;
    padding: 0;
}

.text-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: right;
    transition: 300ms all ease-in-out;
    color: #333; /* Adjust the text color */
}

.text-content p {
    margin: 0;
    padding: 0;
    opacity: 0.9;
    font-size: 9px; /* Adjust the font size as needed */

}

.text-content h3 {
    margin: 0;
    padding: 0 0 8px 0;
    font-weight: lighter;

}


.text-content h2 {
    font-size: 1em;
    margin-left: 0px;
    margin-top: 0;
    font-weight: normal;
    padding-bottom: 8px;
}


.image-content {
    position: relative;
    text-align: right; /* Aligns the date text to the right */
}

.image-content img {
    width: 100%;
    height: auto;
    border-radius: 1px; /* Optional: Adjust if you want rounded corners */
}

.image-content .date {
    font-style: normal;
    font-size: 11px;
    font-family: "JetBrains Mono";
    font-size: 0.5em;
    font-weight: lighter;

    }




@media screen and (max-width: 750px) {
    .listing-container {
        max-width: 100%;
        /*padding: 8px 12px;*/
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text-content h2 {

        margin-left: auto;

    }

    .text-content {
        align-items: center;
    }
    .image-content {
        padding-bottom: 82px;
    }



}