.displayed-project-image {
    width: 100%;
    object-fit: fill;
}


.work-included-row {
    display: flex;
    flex-direction: row;
}

@media screen and (min-width: 801px) {
    .displayed-project-container {
        width: 61vw;
    }
}


