.video-player {
    margin-top: 20px;
    width: 100vw;
}

.video-player video {
    width: 100vw;
    height: auto;
}

.video-wrapper {
    padding-top: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



.displayed-project-image {
    width: 600px;
    object-fit: fill;
}

@media screen and (min-width: 801px) {
    .video-wrapper {
        padding-top: 70vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 10px;

    }

    .video-player {
        /*padding-left: 300px;*/
    }
}