@tailwind base;
@tailwind components;
@tailwind utilities;


*::-webkit-scrollbar {
    display: none;
}

body {
    --lightblack: rgb(102,102,102);
    --black: rgb(34,34,34);
    overflow: auto;
    font-family: "TimesNewRoman", serif;
    color: rgb(102,102,102);
}






.progress-bar-wrapper {

        position: fixed;
        bottom: 16px;
        left: 25px;
        width: 48px;  /* Increase this for a wider clickable area */
        height: 64px; /* Increase this for a taller clickable area */
        cursor: pointer;
        z-index: 1000; /* Ensure it's above other elements */


}

.progress-bar-wrapper,video-showing {
    bottom: auto;
    left: 50%;
    top: 0;
}






body::-webkit-scrollbar {
    width: 0;
    height: 0;
}



.main-container {
    float: right;
    padding-top: 40px;
    @apply scrollbar-hide;

}


body a {
    text-decoration: none;
    color: var(--lightblack);

}


.sidebar-container {
    float: left;

}


.progress-bar {
    position: fixed;
    bottom: 16px;
    left: 36px;
    width: 36px;
    height: 36px;
    border-radius: 0.5px;
    background: var(--lightblack);
}

.progress-bar.video-showing {
    position: fixed;
    bottom: auto;
    left: auto;
    right: 12px;
    top: 24px;
    width: 36px;
    height: 36px;
    border-radius: 0.5px;
    background: var(--lightblack);
}

.app-container {
    display: flex;
    margin: 12px 8px;
    justify-content: space-between;
}

@media screen and (max-width: 800px) {
    .app-container {
        flex-direction: column;
        justify-content: normal;
    }

    .progress-bar {
        background-color: rgba(180,180,180, 0.6);
        height: 24px;
        width: 32px;
        z-index: 1;
        right: auto;
        top: auto; /* Changed from 2px to 0 */
        bottom: 12px; /* Remove bottom positioning */
        left: 12px; /* Ensure it starts from the left edge */
    }

    .main-container {
        justify-content: center;
        font-family: "Times New Roman", sans-serif;
        display: flex;
        float: none;
        margin: 0 12px;
        padding-top: 400px;
    }

    .sidebar-container {
        float: none ;
    }


}

@media screen and (max-width: 500px) {

    .progress-bar {
        display: none;
    }
}


html.lenis, html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}